.Rproj.user
.Rhistory
.RData
.Ruserdata
testcode/*
testcode2/*
AnalysisData/*
AnalysesForPapers/*
BKMRDLM_Simulation/*
BKMRDLM_Analysis/*
TAE_Simulations/*
src/*.o
src/*.so
src/*.dll
examplecode/testbdlim_logit.R
PackageExamples/*
.DS_Store
